h1 {
	color: #2d4d44;
	text-align: center;
}

h2{
	color: #ffffff;
	text-align: center;
}

a:link {
	color: #2d4d44
}

a:visited {
	color: #2d4d44
}

body {
	background-color: #d8dfd7;
	font-size: larger;
	font-family: Helvetica, sans-serif;
	text-align: center;
	margin: auto;
	
}

.center {
	margin: auto;
	width: 40%;
	border: 3px;
	padding: 10px;
}

button {
	background-color: #2d4d44;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	font-family: Helvetica, sans-serif;
}

img {
	width:13%;
	height:13%;
}